@import "reset";

.t2-col-section {
    $grid-bp: 970px;
    background-size: cover;
    background-position: center;

    &-row {
        margin: 0 auto;
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;

        @media(max-width: $grid-bp) {
            display: block;
        }
    }
    
    &-col {
        position: relative;
        padding: 2rem 3rem;
        
        &.bg {
            align-self: stretch;
            background-size: cover;
            background-position: center;
        }
    }
}