.grid-section-1 .grid-col:first-child {
  align-self: stretch;
  min-height: 480px;
  background: url("https://win.heart.co.uk/madame-tussauds-2022/img/client_bg.jpg") no-repeat center 35%/cover;
  order: 2;
}

.grid-section-2 .grid-col:first-child {
  align-self: stretch;
  min-height: 480px;
  grid-row: 1;
  grid-column: 1/3;
}
@media (max-width: 1000px) {
  .grid-section-2 .grid-col:first-child {
    padding: 0;
    min-height: 0;
  }
}
.grid-section-2 .grid-col:first-child img {
  object-position: center bottom;
}
.grid-section-2 .grid-col:last-child {
  grid-row: 1;
  grid-column: 2/2;
}
@media (max-width: 1000px) {
  .grid-section-2 .grid-col:last-child {
    grid-row: 2;
  }
}

.grid-section-3 .grid-col:first-child {
  align-self: stretch;
  min-height: min(480px, 60vw);
  grid-row: 1;
  grid-column: 1/3;
}
.grid-section-3 .grid-col:first-child:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: url("https://win.heart.co.uk/tesco-sep-2022/img/pizzabgjuly.jpg") no-repeat center center/cover;
}
.grid-section-3 .grid-col:last-child {
  grid-row: 1;
  grid-column: 2;
  background: rgba(255, 255, 255, 0.5);
}
@media (max-width: 1000px) {
  .grid-section-3 .grid-col:last-child {
    grid-row: 2;
  }
}

.grid-section-4 {
  padding: 3rem 0;
}
.grid-section-4 .grid-row {
  max-width: 1140px;
  gap: 3rem;
}
.grid-section-4 .grid-col {
  padding: 0;
}
.grid-section-4 .grid-col:first-child {
  max-width: 370px;
  justify-self: end;
}

.grid-section-5 .grid-col:first-child {
  max-width: 600px;
  justify-self: center;
}
.grid-section-5 .grid-col:last-child {
  padding: 0;
}

.grid-section-6 {
  padding: 3rem 0;
}
.grid-section-6 .grid-row {
  grid-template-columns: 1fr 2fr;
  max-width: 1100px;
}
.grid-section-6 .grid-col:first-child {
  padding: 0;
}

.grid-section-7 .grid-row {
  background-color: #d9afe7;
}
.grid-section-7 .grid-col:first-child {
  max-width: 400px;
  justify-self: end;
}
.grid-section-7 .grid-col:last-child {
  align-self: stretch;
  background: url("https://win.heart.co.uk/cinch-2022/img/brand_bg.jpg") no-repeat center center/cover;
}
@media (max-width: 1000px) {
  .grid-section-7 .grid-col:last-child {
    min-height: min(400px, 50vw);
  }
}

.grid-section-8 {
  padding: 3rem 0;
}
.grid-section-8 .grid-row {
  max-width: 1200px;
  padding: 0;
}
.grid-section-8 .grid-col:first-child {
  left: 50px;
  z-index: 2;
  background-color: rgba(78, 95, 222, 0.9);
  color: white;
}
.grid-section-8 .grid-col:last-child {
  padding: 0;
  left: -50px;
  z-index: 1;
}

.grid-section-9 {
  overflow: hidden;
}
.grid-section-9 .grid-row {
  padding: 40px 0;
  margin: 0 -40px;
}
.grid-section-9 .grid-col:first-child {
  display: grid;
  left: 40px;
  bottom: 40px;
  z-index: 2;
  background-color: #059073;
  color: white;
}
.grid-section-9 .grid-col:first-child > div {
  max-width: 450px;
  justify-self: end;
}
.grid-section-9 .grid-col:last-child {
  align-self: stretch;
  min-height: min(70vw, 420px);
  left: -40px;
  top: 40px;
  z-index: 1;
  padding: 0;
  background: url("https://win.heart.co.uk/ebay-home-and-garden/img/intro_bg-cropped.jpg") no-repeat center center/cover;
}

.grid-section-10 {
  padding: 7rem 0;
  background: url("https://win.heart.co.uk/disneyland-paris/img/client-bg.jpg");
}
.grid-section-10 .grid-row {
  max-width: 1200px;
}
.grid-section-10 .grid-col:first-child {
  grid-column-end: -1;
  justify-self: end;
  max-width: 350px;
  color: white;
  background-color: rgba(0, 0, 0, 0.6);
}

.grid-section-11 {
  padding: 7rem 0;
  background: url("https://win.heart.co.uk/cinch-2022/img/brand_bg.jpg") no-repeat center center/cover;
}
.grid-section-11 .grid-row {
  max-width: 1100px;
  gap: 3rem;
  padding: 0 3rem;
}
@media (max-width: 1000px) {
  .grid-section-11 .grid-row {
    padding: 0 1rem;
  }
}
.grid-section-11 .grid-col:first-child {
  color: white;
  background-color: rgba(0, 0, 0, 0.75);
}
.grid-section-11 .grid-col:last-child {
  align-self: start;
  color: white;
  background-color: rgba(0, 0, 0, 0.75);
}

.grid-section-12 {
  padding: 3rem 0;
}
.grid-section-12 .grid-col:first-child {
  align-self: stretch;
  padding: 0;
  order: 2;
}
.grid-section-12 .grid-col:first-child img {
  object-position: center 35%;
}
.grid-section-12 .grid-col:last-child {
  max-width: 550px;
  justify-self: end;
}

.grid-section-13 .grid-col:first-child {
  max-width: 600px;
  justify-self: center;
}
.grid-section-13 .grid-col:last-child {
  align-self: stretch;
  background: url("https://win.heart.co.uk/intuit-quickbooks-2021/img/intuitq.png") no-repeat center center/cover;
  aspect-ratio: 1/1.26;
  height: auto;
}

.style-box {
  position: absolute;
  bottom: 0;
  padding: 1rem;
  background-color: #222;
  color: white;
  font-size: 0.8rem;
  line-height: 1.2;
}

.style-row {
  margin: 0 auto;
  display: table;
  padding: 1rem;
  background-color: hotpink;
  color: white;
  font-size: 0.8rem;
  line-height: 1.2;
}

.grid-row {
  border: 3px solid hotpink;
}

.grid-col {
  border: 3px dashed #888;
}

.styles {
  border-right: 1px solid #555;
}

.html {
  border-left: 1px solid #555;
}

.styles,
.html {
  align-self: stretch;
  position: relative;
  display: block;
  padding: 1.5rem;
  font-family: monospace;
  white-space: pre;
  background-color: #222;
  color: white;
  line-height: 1.2;
  overflow-x: scroll;
}
.styles::-webkit-scrollbar,
.html::-webkit-scrollbar {
  display: none;
}

.btn-copy {
  position: absolute;
  top: 10px;
  right: 10px;
  width: fit-content;
  min-width: 60px;
  text-align: center;
  background: #222;
  border: none;
  padding: 0;
  cursor: pointer;
  color: white;
  transform-origin: top right;
  transform: scale(0.8);
}

.icon-copy {
  display: block;
  margin: 0 auto;
  stroke: white;
  fill: white;
  width: 42px;
  height: 42px;
}

.grid-row {
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}
@media (max-width: 1000px) {
  .grid-row {
    grid-template-columns: 1fr !important;
  }
}

.grid-col {
  position: relative;
  padding: 2rem 3rem;
}
.grid-col img {
  width: 100%;
}

@media (max-width: 1000px) {
  .sm-max-w-none {
    max-width: none !important;
  }

  .sm-reset-pos {
    top: auto !important;
    left: auto !important;
    right: auto !important;
    bottom: auto !important;
  }
}
.bgimage {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  object-fit: cover;
  object-position: center center;
}
@media (max-width: 1000px) {
  .bgimage {
    position: static;
  }
}

/*# sourceMappingURL=main.css.map */