.grid-section-1 .grid-col:first-child {
  align-self: stretch;
  min-height: 480px;
  background: url("https://win.heart.co.uk/madame-tussauds-2022/img/client_bg.jpg") no-repeat center 35%/cover;
  order: 2;
}

.grid-section-2 .grid-col:first-child {
  align-self: stretch;
  min-height: 480px;
  grid-row: 1;
  grid-column: 1/3;
}
@media (max-width: 1000px) {
  .grid-section-2 .grid-col:first-child {
    padding: 0;
    min-height: 0;
  }
}
.grid-section-2 .grid-col:first-child img {
  object-position: center bottom;
}
.grid-section-2 .grid-col:last-child {
  grid-row: 1;
  grid-column: 2/2;
}
@media (max-width: 1000px) {
  .grid-section-2 .grid-col:last-child {
    grid-row: 2;
  }
}

.grid-section-3 .grid-col:first-child {
  align-self: stretch;
  min-height: min(480px, 60vw);
  grid-row: 1;
  grid-column: 1/3;
}
.grid-section-3 .grid-col:first-child:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: url("https://win.heart.co.uk/tesco-sep-2022/img/pizzabgjuly.jpg") no-repeat center center/cover;
}
.grid-section-3 .grid-col:last-child {
  grid-row: 1;
  grid-column: 2;
  background: rgba(255, 255, 255, 0.5);
}
@media (max-width: 1000px) {
  .grid-section-3 .grid-col:last-child {
    grid-row: 2;
  }
}

.grid-section-4 {
  padding: 3rem 0;
}
.grid-section-4 .grid-row {
  max-width: 1140px;
  gap: 3rem;
}
.grid-section-4 .grid-col {
  padding: 0;
}
.grid-section-4 .grid-col:first-child {
  max-width: 370px;
  justify-self: end;
}

.grid-section-5 .grid-col:first-child {
  max-width: 600px;
  justify-self: center;
}
.grid-section-5 .grid-col:last-child {
  padding: 0;
}

.grid-section-6 {
  padding: 3rem 0;
}
.grid-section-6 .grid-row {
  grid-template-columns: 1fr 2fr;
  max-width: 1100px;
}
.grid-section-6 .grid-col:first-child {
  padding: 0;
}

.grid-section-7 .grid-row {
  background-color: #d9afe7;
}
.grid-section-7 .grid-col:first-child {
  max-width: 400px;
  justify-self: end;
}
.grid-section-7 .grid-col:last-child {
  align-self: stretch;
  background: url("https://win.heart.co.uk/cinch-2022/img/brand_bg.jpg") no-repeat center center/cover;
}
@media (max-width: 1000px) {
  .grid-section-7 .grid-col:last-child {
    min-height: min(400px, 50vw);
  }
}

.grid-section-8 {
  padding: 3rem 0;
}
.grid-section-8 .grid-row {
  max-width: 1200px;
  padding: 0;
}
.grid-section-8 .grid-col:first-child {
  left: 50px;
  z-index: 2;
  background-color: rgba(78, 95, 222, 0.9);
  color: white;
}
.grid-section-8 .grid-col:last-child {
  padding: 0;
  left: -50px;
  z-index: 1;
}

.grid-section-9 {
  overflow: hidden;
}
.grid-section-9 .grid-row {
  padding: 40px 0;
  margin: 0 -40px;
}
.grid-section-9 .grid-col:first-child {
  display: grid;
  left: 40px;
  bottom: 40px;
  z-index: 2;
  background-color: #059073;
  color: white;
}
.grid-section-9 .grid-col:first-child > div {
  max-width: 450px;
  justify-self: end;
}
.grid-section-9 .grid-col:last-child {
  align-self: stretch;
  min-height: min(70vw, 420px);
  left: -40px;
  top: 40px;
  z-index: 1;
  padding: 0;
  background: url("https://win.heart.co.uk/ebay-home-and-garden/img/intro_bg-cropped.jpg") no-repeat center center/cover;
}

.grid-section-10 {
  padding: 7rem 0;
  background: url("https://win.heart.co.uk/disneyland-paris/img/client-bg.jpg");
}
.grid-section-10 .grid-row {
  max-width: 1200px;
}
.grid-section-10 .grid-col:first-child {
  grid-column-end: -1;
  justify-self: end;
  max-width: 350px;
  color: white;
  background-color: rgba(0, 0, 0, 0.6);
}

.grid-section-11 {
  padding: 7rem 0;
  background: url("https://win.heart.co.uk/cinch-2022/img/brand_bg.jpg") no-repeat center center/cover;
}
.grid-section-11 .grid-row {
  max-width: 1100px;
  gap: 3rem;
  padding: 0 3rem;
}
@media (max-width: 1000px) {
  .grid-section-11 .grid-row {
    padding: 0 1rem;
  }
}
.grid-section-11 .grid-col:first-child {
  color: white;
  background-color: rgba(0, 0, 0, 0.75);
}
.grid-section-11 .grid-col:last-child {
  align-self: start;
  color: white;
  background-color: rgba(0, 0, 0, 0.75);
}

.grid-section-12 {
  padding: 3rem 0;
}
.grid-section-12 .grid-col:first-child {
  align-self: stretch;
  padding: 0;
  order: 2;
}
.grid-section-12 .grid-col:first-child img {
  object-position: center 35%;
}
.grid-section-12 .grid-col:last-child {
  max-width: 550px;
  justify-self: end;
}

.grid-section-13 .grid-col:first-child {
  max-width: 600px;
  justify-self: center;
}
.grid-section-13 .grid-col:last-child {
  align-self: stretch;
  background: url("https://win.heart.co.uk/intuit-quickbooks-2021/img/intuitq.png") no-repeat center center/cover;
  aspect-ratio: 1/1.26;
  height: auto;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.grid-row:not(code) {
  border: 3px solid hotpink;
}

.grid-col {
  border: 3px dashed #888;
}

code {
  white-space: pre;
}

.styles {
  border-left: 1px solid #4a4a4a;
}

.html {
  border-right: 1px solid #4a4a4a;
}

.styles,
.html {
  align-self: stretch;
  position: relative;
  display: block;
  padding: 0.9rem 1.2rem;
  font-family: monospace;
  white-space: pre;
  background-color: #222;
  color: white;
  line-height: 1.2;
  overflow-x: scroll;
}
.styles::-webkit-scrollbar,
.html::-webkit-scrollbar {
  display: none;
}

.btn-copy {
  position: absolute;
  top: 10px;
  right: 10px;
  width: fit-content;
  min-width: 60px;
  text-align: center;
  background: #222;
  border: none;
  padding: 0;
  cursor: pointer;
  color: white;
  transform-origin: top right;
  transform: scale(0.8);
}

.icon-copy {
  display: block;
  margin: 0 auto;
  stroke: white;
  fill: white;
  width: 42px;
  height: 42px;
}

.controls {
  margin: 10px;
  display: flex;
  justify-content: flex-end;
}

.borders-control {
  width: fit-content;
  display: flex;
  align-items: center;
}

input:is([type=checkbox]) {
  -webkit-appearance: none;
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 0.5rem;
  background: lightgrey;
  border: 2px solid grey;
  border-radius: 0.3em;
  transition: background-color 300ms, border-color 300ms;
}
input:is([type=checkbox]):hover {
  background: pink;
  border: 2px solid pink;
}
input:is([type=checkbox]):focus {
  outline: 2px solid hotpink;
  outline-offset: 2px;
}
input:is([type=checkbox]):checked {
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xml:space='preserve' viewBox='-10 -10 64.56 64.56'%3E%3Cpath d='M23.297 38.74a6.563 6.563 0 0 1-10.16.499L1.308 26.112a5.083 5.083 0 1 1 7.551-6.805l8.369 9.288a.617.617 0 0 0 .956-.047L35.386 5.217a5.083 5.083 0 1 1 8.181 6.032L23.297 38.74z'/%3E%3C/svg%3E"), pink;
  background-repeat: no-repeat;
  border: 2px solid pink;
}

input:is([type=radio]) {
  border-radius: 50%;
}

.borders-control:hover input {
  border: 2px solid black;
}

/* PrismJS 1.29.0
https://prismjs.com/download.html#themes=prism-okaidia&languages=markup+css */
code[class*=language-],
pre[class*=language-] {
  color: #f8f8f2;
  background: #222;
  text-shadow: 0 1px rgba(0, 0, 0, 0.3);
  font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

:not(pre) > code[class*=language-],
pre[class*=language-] {
  background: #272822;
}

.token.cdata,
.token.comment,
.token.doctype,
.token.prolog {
  color: #8292a2;
}

.token.punctuation {
  color: #f8f8f2;
}

.token.namespace {
  opacity: 0.7;
}

.token.constant,
.token.deleted,
.token.property {
  color: #66d9ef;
}

.token.symbol,
.token.tag {
  color: #f92672;
}

.token.boolean,
.token.number {
  color: #ae81ff;
}

.token.attr-name,
.token.builtin,
.token.char,
.token.inserted,
.token.selector,
.token.string {
  color: #a6e22e;
}

.language-css .token.string,
.style .token.string,
.token.entity,
.token.operator,
.token.url,
.token.variable {
  color: #f8f8f2;
}

.token.atrule,
.token.attr-value,
.token.class-name,
.token.function {
  color: #e6db74;
}

.token.keyword {
  color: #66d9ef;
}

.token.important,
.token.regex {
  color: #fd971f;
}

.token.bold,
.token.important {
  font-weight: 700;
}

.token.italic {
  font-style: italic;
}

.token.entity {
  cursor: help;
}

.grid-row {
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}
@media (max-width: 1000px) {
  .grid-row {
    grid-template-columns: 1fr !important;
  }
}

.grid-col {
  position: relative;
  padding: 2rem 3rem;
}
.grid-col img {
  width: 100%;
}

@media (max-width: 1000px) {
  .sm-max-w-none {
    max-width: none !important;
  }

  .sm-reset-pos {
    top: auto !important;
    left: auto !important;
    right: auto !important;
    bottom: auto !important;
  }
}
.bgimage {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  object-fit: cover;
  object-position: center center;
}
@media (max-width: 1000px) {
  .bgimage {
    position: static;
  }
}

/*# sourceMappingURL=main.css.map */